#mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainForm{
    margin-top: 8%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:center;
    padding: 5%;
    border-radius: 10px;
}

.mainForm-light{
    background-color: #e6e8f0;
}

.mainForm-dark{
    background-color: rgb(61, 59, 59);
}

.loginButton-light{
    background-color: rgb(203, 206, 216) !important;
    color: rgb(58, 54, 54) !important;
}

.loginButton-dark{
    background-color: rgb(36, 35, 35) !important;
    color: white !important;
}

.loginLabel{
    margin-bottom: 1%;
}

.invalidCredentialsLabel-light{
    color: rgb(250, 74, 74) !important;
}

.invalidCredentialsLabel-dark{
    color: rgb(172, 41, 41) !important;
}

.loginInput{
    margin-bottom: 4%;
}

.loginButton{
    margin-top: 30%;
}