.menu-default{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-special{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
}

.menu-navigation-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-top: 1%;
}

.date-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
}

.date-day-text{
    text-align: center;
    margin: auto;
}

input[type="date"]
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date-picker{
    text-align: center;
    margin: auto;
    border : none;
    background: url('../../assets/custom_date_icon_light.png')  97% 50% no-repeat !important;
}

.date-picker-light{
    background: url('../../assets/custom_date_icon_light.png')  97% 50% no-repeat !important;
}

.date-picker-dark{
    background: url('../../assets/custom_date_icon_dark.png')  97% 50% no-repeat !important;
}

.navigation-chevron:hover{
    opacity: 0.9;
    cursor: pointer;
}

.food-card-text-light{
    color: rgb(58, 54, 54) !important;
}

.food-card-text-dark{
    color: white !important;
}

.menu-buttons-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}

.menu-button{
    margin: auto;
    width: 40% !important;
    text-align: center;
}

.menu-button:hover{
    opacity: 0.9;
}

.menu-button-light-red{
    background-color: rgb(255, 102, 102) !important;
    color: rgb(58, 54, 54) !important;
}

.menu-button-dark-red{
    background-color: rgb(255, 57, 57) !important;
    color: white !important;
}

.menu-button-light-green{
    background-color: rgb(114, 253, 146) !important;
    color: rgb(58, 54, 54) !important;
}

.menu-button-dark-green{
    background-color: rgb(50, 208, 82) !important;
    color: white !important;
}

.menu-wrapper{
    padding-bottom: 1%;
}


.custom-spinner-wrapper, .no-meals{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.location-time-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.locations{
    margin-left: 5%;
}

.times{
    margin-right: 5%;
}

@media only screen and (max-width : 600px){
    .menu-button{
        width: 100% !important;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .menu-buttons-wrapper{
        width: 90% !important;
    }

    .date-day-text{
        width: 100%;
    }
    
    .date-picker{
        width: 100%;
    }
}